@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background: #121212;
  --foreground: #f0f0f0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
